/**
 * @author Jörn Kreutel
 * @modifiziert von Alexander Thofern mittels tutorial.pdf
 *
 */

/* TODO: add any application specific styling here */
#mediaReadview img {
   width: 100%;
   max-width: 100%;
}

/* footer style for CRUD-Operation-Items (status & refresh-button)*/
.footerStyle {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.deleteDialogQuestion {
   color: black;
   font-weight: normal;
   padding-left: 10px;
}

.previewImage {
   max-width: 100%;
   width: 100%;
}


.ListviewImage {
   width: 50px;
   height: 50px;
}

/* depiction of disabled uploadButton if local*/
#uploadButton.disabled {
   opacity: 0.5;
}

/*
.descriptionTextarea {
   padding-left: 4px;
}
   */